// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Source - https://stackoverflow.com/a/66714187
// Posted by kjaneczko
// Retrieved 2026-02-13, License - CC BY-SA 4.0

// Bootstrap-icons
@import 'bootstrap-icons/font/bootstrap-icons.css';